<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Differentiator Sports</title>

    <link rel="stylesheet" type="text/css" href="assets/vendor.min.css">

    <script src="https://fb.me/react-with-addons-0.14.1.js"></script>
    <script src="https://fb.me/react-dom-0.14.1.js"></script>

    <script src="assets/vendor.min.js"></script>
  </head>
  <body>
    <div id="react_content">{{{ react }}}</div>
    <!-- <script src="assets/app.min.js"></script> -->
  </body>
</html>
